<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.css" />
    <style>
      .main-content {
        position: absolute;
        top: 90px;
        height: calc(100% - 90px);
        width: 100%;
      }

      .form-content {
        width: 50%;
        max-width: 560px;
        min-width: 280px;
        margin: 0px auto;
      }

      .form-input {
        min-width: 12rem;
      }

      .hide {
        display: none;
      }
    </style>
  </head>
  <body>
    <header class="slds-global-header_container">
      <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text_focus">Skip to Navigation</a>
      <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text_focus">Skip to Main Content</a>
      <div class="slds-global-header slds-grid slds-grid_align-spread">
        <div class="slds-global-header__item">
          <div class="slds-global-header__logo">
            <img src="/assets/images/logo-noname.svg" alt="">
          </div>
        </div>
        <div class="slds-align_absolute-center">
          <div class="slds-text-heading_medium"><%= title %></div>
        </div>
        <div class="slds-global-header__item">
          <div class="slds-global-header__logo">
            <img src="/assets/images/alexa_logo_32x32.png" alt="">
          </div>
        </div>
      </div>
    </header>


    <section class="main-content">
        <div class="slds-align_absolute-center slds-m-around--large">
          <div class="slds-text-heading_large">
              <%= phrase1 %>&nbsp;<%= phrase2 %>
          </div>
        </div>

        <form name="login_form" action="/alexa/login" method="POST">
          <div class="slds-form slds-form_compound form-content">
            <fieldset class="slds-form-element">
              <legend class="slds-form-element__label slds-text-title_caps">Login to Salesforcce</legend>
              <div class="slds-form-element__group">
                <div class="slds-form-element__row">

                  <div class="slds-form-element slds-p-around--x-small">
                    <label class="slds-form-element__label" for="username">Username</label>
                    <div class="slds-form-element__control">
                      <input type="text" class="slds-input form-input" name="username" value="skip@eadx.com" placeholder="Enter your Salesforce org username"/>
                    </div>
                  </div>
                </div>

                <div class="slds-form-element__row">
                  <div class="slds-form-element slds-p-around--x-small">
                    <label class="slds-form-element__label" for="password">Password</label>
                    <div class="slds-form-element__control">
                      <input type="password" class="slds-input form-input" name="password" value="waveout1!" placeholder="Enter your Salesforce org Password"/>
                    </div>
                  </div>
                </div>

              </div>

              <div class="slds-form-element__row">
                  <div class="slds-form-element slds-p-around--x-small">
                    <div class="slds-align_absolute-center slds-m-around--xx-large">
                      <input type="submit" class="slds-button slds-button_neutral" name="login_button" value="Login"/>
                  </div>
              </div>

            </fieldset>
          </div>
        </form>

        <div class="slds-align_absolute-center slds-m-around--xx-large">
          <button class="slds-button slds-button_neutral hide" id="login" onclick="login();">Login</button>
        </div>

    </section>

    <script src="/javascripts/force.all.js"></script>
    <script src="/javascripts/util.js"></script>    
    <script>

      var _appId = "" + <%- JSON.stringify(appId) %> || null;
      var _sandbox = <%= JSON.stringify(sandbox) %> || false;;      
      var _phrase = <%- JSON.stringify(phrase) %> || null;

      console.warn("appId: ", _appId);
      console.warn("phrase: ", _phrase);
      console.warn("sandbox: ", _sandbox);
      
      function animateTimer(timeout) {
          var timeleft = timeout - Date.now();
          console.warn('timeleft: ', timeleft);
          //timeleft = 5000;
          /*
          setTimeout(function() {
            window.location.reload();
          }, timeleft);
          */

          var interval = setInterval(function() {
            
            var timeleft = timeout - Date.now();
            console.warn('timeleft: ', timeleft);

            if (timeleft <= 0) {
              clearInterval(interval);
              window.location.reload();
            }
          }, 1000);

      }

      (function() {

        var _oauthResult = <%- JSON.stringify(oauthResult) %> || null;

        console.warn("oauthResult: ", _oauthResult);

        var button = document.querySelector("button#login");

        if (_phrase) {
          button.innerHTML = "Logout";

          console.warn("timeout: ", new Date(_phrase.timeout));

          animateTimer(_phrase.timeout);

        } else {
          button.innerHTML = "Login";
        }

        button.classList.remove("hide");

      }());

      function OLDER_login() {
        if (_phrase) {
          updateOAuthResult(null, function(res, err) {
            window.location.reload();
          });                  
        } else {
          var appId = _appId;
          var loginURL = "https://login.salesforce.com";
          var oauthCallbackURL = window.location.origin + "/oauthcallback.html";
          var oauth = force.OAuth.createInstance(appId, loginURL, oauthCallbackURL);
          oauth.login().then(function(oauthResult) {
            updateOAuthResult(oauthResult, function(res, err) {
              console.warn("updateOAuthResult returned: ", res, err);
              window.location.reload();
            });
          });
        }
      }

      function login() {
        if (_phrase) {
          updateOAuthResult(null, function(res, err) {
            window.location.reload();
          });                  
        } else {
          var appId = _appId;
          var loginURL = "https://login.salesforce.com";
          var oauthCallbackURL = window.location.origin + "/oauthcallback.html";
          var oauth = force.OAuth.createInstance(appId, loginURL, oauthCallbackURL);
          oauth.login().then(function(oauthResult) {
            updateOAuthResult(oauthResult, function(res, err) {
              console.warn("updateOAuthResult returned: ", res, err);
              window.location.reload();
            });
          });
        }
      }

      function logout() {
        updateOAuthResult(null, function(res, err) {
          window.location.reload();
        });        
      }

      function updateOAuthResult(oauthResult, callback) {
        var config = {
          path: '/oauth-result',
          method: 'POST',
          data: {
            'oauthResult': oauthResult,
            sandbox: _sandbox
          }
        };
        console.warn('calling /oauth-result with: ', config);
        request(config,
          function(res) {
            console.warn('res: ', res);
            if (typeof callback === 'function') {
              callback(res, null);
            }
          },
          function(err) {
            console.warn('err: ', err);
            if (typeof callback === 'function') {
              callback(null, err);
            }
          }
        );

      }

    </script>
  </body>
</html>